* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: brown;
}

section {
    margin: 15rem;
    background-color: white;

    height: 20rem;
    width: 40rem;
    border-radius: 2rem;

    text-align: center;
}
section h1 {
    margin: 2rem;
}
section p {
    margin: 1rem;
    text-align: left;
}