* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: salmon;
}

section {
    position: relative;
    background-color: white;
    margin: auto;
    width: 500px;
    height: 300px;

    top: 25%;
    border-radius: 15px;
    padding: 20px;
}
section > h1 {
    text-align: center;    
    padding: 15px;
    font-size: 2.5em;
}
section > p {
    text-align: justify;
    padding: 10px;
}
section > h2 {
    padding: 10px;
}
section > label {
    text-align: left;
}
section > input {
    width: 490px;
}