<%- include('includes/head') %>

  <section class="container">
    <h1>
      Titulo

      <%# numeros.forEach(num => {%>
        <%#= num %>
      <%# }) %>
      <!-- <%#- typeof titulo !== 'undefined'? titulo : undefined %> -->
      <!-- <%#=titulo%><br> ESTE ESCREVE TUDO QUE FOR COLOCADO -->
      <!-- <%#-titulo%> ESTE RECONHECE AS TAGS HTML -->

      <!-- <% CONTROLE DE FLUXO (IF, FOR...) %> -->
      <!-- <%= IMPRIME ESCAPANDO CARACTERES %> -->
      <!-- <%- IMPRIME SEM ESCAPAR CARACTERES %> -->
      <!-- <%# COMETARIO  %> -->
      <!-- <% INCLUDE('CAMINHO/ARQUIVO') %> -->
    </h1>
  </section>

<%- include('includes/footer') %>